################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NermaReservationManagementModule/FileContentIndex
/.vs/NermaReservationManagementModule/v17/.suo
/NermaReservationManagementModule/obj/Debug/net6.0-windows/NermaReservationManagementModule.dll
/.vs/*.*
/NermaReservationManagementModule/obj/Debug/net6.0-windows/ref/NermaReservationManagementModule.dll
/NermaReservationManagementModule/obj/Debug/net6.0-windows/NermaReservationManagementModule.csproj.AssemblyReference.cache
/NermaReservationManagementModule/obj/Debug/net6.0-windows/NermaReservationManagementModule.csproj.CoreCompileInputs.cache
/NermaReservationManagementModule/obj/Debug/net6.0-windows/NermaReservationManagementModule.dll
/NermaReservationManagementModule/obj/Debug/net6.0-windows/NermaReservationManagementModule.g.resources
/NermaReservationManagementModule/obj/Debug/net6.0-windows/NermaReservationManagementModule.pdb
/NermaReservationManagementModule/obj/Debug/net6.0-windows/refint/NermaReservationManagementModule.dll
/.vs/NermaReservationManagementModule/FileContentIndex/1a5daab0-bea2-4161-9105-424db1408d33.vsidx
/.vs/NermaReservationManagementModule/FileContentIndex/24884cd2-40a3-478b-ae16-f6ccc117c251.vsidx
/.vs/NermaReservationManagementModule/FileContentIndex/c055e62b-75af-492d-b3ec-a179bfe5c854.vsidx
/.vs/NermaReservationManagementModule/FileContentIndex/cf4bc7f2-5468-4b66-9c72-0e82c371743f.vsidx
/.vs/NermaReservationManagementModule/DesignTimeBuild/.dtbcache.v2
/.vs/NermaReservationManagementModule/v17/.futdcache.v2
/.vs/NermaReservationManagementModule/v17/.suo
/.vs/ProjectEvaluation/nermareservationmanagementmodule.metadata.v7.bin
/.vs/ProjectEvaluation/nermareservationmanagementmodule.projects.v7.bin
/NermaReservationManagementModule/obj/NermaReservationManagementModule.csproj.nuget.dgspec.json
/NermaReservationManagementModule/obj/NermaReservationManagementModule.csproj.nuget.g.props
/NermaReservationManagementModule/obj/project.assets.json
/NermaReservationManagementModule/obj/project.nuget.cache
/NermaReservationManagementModule/obj/Release/net6.0-windows/NermaReservationManagementModule.assets.cache
/NermaReservationManagementModule/obj/Release/net6.0-windows/NermaReservationManagementModule.csproj.AssemblyReference.cache
/NermaReservationManagementModule/obj/Release/net6.0-windows/NermaReservationManagementModule.GeneratedMSBuildEditorConfig.editorconfig
/.vs/NermaReservationManagementModule/v17/.wsuo
/.vs/NermaReservationManagementModule/v17/DocumentLayout.json
/.vs/EgeHayatDoorManagementModule/DesignTimeBuild/.dtbcache.v2
/.vs/EgeHayatDoorManagementModule/FileContentIndex/0a713671-d07c-404f-87a1-fd23508a3418.vsidx
/.vs/EgeHayatDoorManagementModule/FileContentIndex/f0089f94-81a2-4add-827c-c98328b1965f.vsidx
/.vs/EgeHayatDoorManagementModule/v17/.futdcache.v2
/.vs/EgeHayatDoorManagementModule/v17/.suo
/.vs/EgeHayatDoorManagementModule/v17/DocumentLayout.backup.json
/.vs/EgeHayatDoorManagementModule/v17/DocumentLayout.json
/.vs/ProjectEvaluation/egehayatdoormanagementmodule.metadata.v9.bin
/.vs/ProjectEvaluation/egehayatdoormanagementmodule.projects.v9.bin
/.vs/ProjectEvaluation/egehayatdoormanagementmodule.strings.v9.bin
/EgeHayatDoorManagementModule/obj/Debug/net6.0-windows/EgeHayatDoorManagementModule.assets.cache
/EgeHayatDoorManagementModule/obj/Debug/net6.0-windows/EgeHayatDoorManagementModule.csproj.AssemblyReference.cache
/EgeHayatDoorManagementModule/obj/Debug/net6.0-windows/EgeHayatDoorManagementModule.csproj.CoreCompileInputs.cache
/EgeHayatDoorManagementModule/obj/Debug/net6.0-windows/EgeHayatDoorManagementModule.dll
/EgeHayatDoorManagementModule/obj/Debug/net6.0-windows/EgeHayatDoorManagementModule.pdb
/EgeHayatDoorManagementModule/obj/Debug/net6.0-windows/EgeHayatDoorManagementModule.sourcelink.json
/EgeHayatDoorManagementModule/obj/EgeHayatDoorManagementModule.csproj.nuget.dgspec.json
/EgeHayatDoorManagementModule/obj/EgeHayatDoorManagementModule.csproj.nuget.g.props
/EgeHayatDoorManagementModule/obj/project.assets.json
/EgeHayatDoorManagementModule/obj/project.nuget.cache
/EgeHayatDoorManagementModule/obj/Release/net6.0-windows/EgeHayatDoorManagementModule.assets.cache
/EgeHayatDoorManagementModule/obj/Release/net6.0-windows/EgeHayatDoorManagementModule.csproj.AssemblyReference.cache
/EgeHayatDoorManagementModule/obj/Release/net6.0-windows/EgeHayatDoorManagementModule.csproj.CoreCompileInputs.cache
/EgeHayatDoorManagementModule/obj/Release/net6.0-windows/EgeHayatDoorManagementModule.dll
/EgeHayatDoorManagementModule/obj/Release/net6.0-windows/EgeHayatDoorManagementModule.pdb
/EgeHayatDoorManagementModule/obj/Release/net6.0-windows/EgeHayatDoorManagementModule.sourcelink.json
